@font-face {
  font-family: "iconfont"; /* Project id 784680 */
  src: url('iconfont.woff2?t=1646720520612') format('woff2');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-quxiaoyuyue:before {
  content: "\e7d0";
}

.icon-kouqiangyingxiang_xianxing:before {
  content: "\e7d1";
}

.icon-oralPhoto:before {
  content: "\e7d2";
}

.icon-questionnaireMenu:before {
  content: "\e7cf";
}

.icon-noticeTemplateConfig:before {
  content: "\e7cd";
}

.icon-shujutongbu1:before {
  content: "\e7cc";
}

.icon-equityCard:before {
  content: "\e7cb";
}

.icon-ketang:before {
  content: "\e7ca";
}

.icon-mac:before {
  content: "\e7c7";
}

.icon-anzhuologo:before {
  content: "\e7c8";
}

.icon-windows-100:before {
  content: "\e7c9";
}

.icon-tuiquhuo:before {
  content: "\e7bd";
}

.icon-qingkong1:before {
  content: "\e7c3";
}

.icon-liveDataSync:before {
  content: "\e7c6";
}

.icon-jiagongjian1:before {
  content: "\e7c5";
}

.icon-zhengji:before {
  content: "\e7c4";
}

.icon-kouqiangjiancha:before {
  content: "\e7c2";
}

.icon-lurubaogao:before {
  content: "\e7c1";
}

.icon-tiaoxingma:before {
  content: "\e7c0";
}

.icon-machinedPartsSettlement:before {
  content: "\ec6c";
}

.icon-jiesuan1:before {
  content: "\e7bf";
}

.icon-appointmentTemplate:before {
  content: "\e7bc";
}

.icon-fileAdmin:before {
  content: "\e7bb";
}

.icon-examination:before {
  content: "\e7ba";
}

.icon-machinedPartsConfig:before {
  content: "\e7b9";
}

.icon-anshijian1:before {
  content: "\e7b8";
}

.icon-zhuanzhen:before {
  content: "\e7b7";
}

.icon-fahuo:before {
  content: "\e7b6";
}

.icon-claimGoods:before {
  content: "\e7b5";
}

.icon-zhanghuzhu:before {
  content: "\e7b4";
}

.icon-recordingManagement:before {
  content: "\e7b3";
}

.icon-jiagongjiandingdan:before {
  content: "\e7b2";
}

.icon-machinedPartsBilling:before {
  content: "\e7b1";
}

.icon-shipin2:before {
  content: "\e7a5";
}

.icon-tuwen:before {
  content: "\e7af";
}

.icon-xiaoxi3:before {
  content: "\e7b0";
}

.icon-soYangDataSync:before {
  content: "\e7ae";
}

.icon-zengzhifuwu:before {
  content: "\e7ce";
}

.icon-yishengziliao:before {
  content: "\e7ad";
}

.icon-tuifei:before {
  content: "\e7ac";
}

.icon-agentManage_cloud:before {
  content: "\e7ab";
}

.icon-cloudCall:before {
  content: "\e7aa";
}

.icon-paicheng:before {
  content: "\e7a9";
}

.icon-chexiao:before {
  content: "\e7a8";
}

.icon-fenxiang1:before {
  content: "\e7a7";
}

.icon-shixiao:before {
  content: "\e7a4";
}

.icon-xiangxi:before {
  content: "\e7a3";
}

.icon-scrmHospital:before {
  content: "\e7a1";
}

.icon-internetDepartment:before {
  content: "\e7a2";
}

.icon-continueMedicine:before {
  content: "\e79f";
}

.icon-treatmentAppointView:before {
  content: "\e79e";
}

.icon-meiTuanDataSync:before {
  content: "\e79d";
}

.icon-caSignTaskView:before {
  content: "\e79c";
}

.icon-quxiaoguding1:before {
  content: "\e799";
}

.icon-guding1:before {
  content: "\e79a";
}

.icon-shujufenxi:before {
  content: "\e795";
}

.icon-shoucang:before {
  content: "\e798";
}

.icon-manufacturerManage:before {
  content: "\e793";
}

.icon-machinedManufacturerConfig:before {
  content: "\ec6b";
}

.icon-zidong:before {
  content: "\e792";
}

.icon-gengduo3:before {
  content: "\e790";
}

.icon-shaixuan:before {
  content: "\e791";
}

.icon-devPlanManage:before {
  content: "\e78f";
}

.icon-fenpidayin:before {
  content: "\e78e";
}

.icon-faqigongxiang:before {
  content: "\e78c";
}

.icon-signatureAuthentication:before {
  content: "\e78d";
}

.icon-gongxiang:before {
  content: "\e78b";
}

.icon-customerQuery:before {
  content: "\e78a";
}

.icon-wenjian2:before {
  content: "\e789";
}

.icon-feiyongdan:before {
  content: "\e785";
}

.icon-equipmentSetting:before {
  content: "\e786";
}

.icon-treatmentSchedule:before {
  content: "\e787";
}

.icon-operatingRoomSetting:before {
  content: "\e788";
}

.icon-tuodongpaixu:before {
  content: "\e784";
}

.icon-paixu:before {
  content: "\e783";
}

.icon-wenjianjia1:before {
  content: "\e782";
}

.icon-wenjianjia1-copy:before {
  content: "\ec6a";
}

.icon-wenjian1:before {
  content: "\e781";
}

.icon-beizhu:before {
  content: "\e77c";
}

.icon-feibenyuan:before {
  content: "\e77b";
}

.icon-distributeAccount:before {
  content: "\e779";
}

.icon-recipientApply:before {
  content: "\e778";
}

.icon-shujutongbu:before {
  content: "\e777";
}

.icon-chufang:before {
  content: "\e7a0";
}

.icon-chufangmuban:before {
  content: "\e776";
}

.icon-customerCheck:before {
  content: "\e775";
}

.icon-youZanDataSync:before {
  content: "\e773";
}

.icon-weiMoDataSync:before {
  content: "\e774";
}

.icon-prescriptionTemplate:before {
  content: "\e772";
}

.icon-prescription:before {
  content: "\e771";
}

.icon-cardManagement:before {
  content: "\e770";
}

.icon-dataSync:before {
  content: "\e76f";
}

.icon-customerActive:before {
  content: "\e76c";
}

.icon-yishixiao:before {
  content: "\e76b";
}

.icon-shortMessage:before {
  content: "\e76d";
}

.icon-tongbu:before {
  content: "\e76a";
}

.icon-memberCenter:before {
  content: "\e769";
}

.icon-wenjianjia:before {
  content: "\e763";
}

.icon-yiguidang:before {
  content: "\e764";
}

.icon-dangan2:before {
  content: "\e765";
}

.icon-qianming:before {
  content: "\e766";
}

.icon-bingli:before {
  content: "\e767";
}

.icon-toCon:before {
  content: "\e768";
}

.icon-shiftManagement:before {
  content: "\e762";
}

.icon-shengri:before {
  content: "\e761";
}

.icon-gongzuo2:before {
  content: "\e760";
}

.icon-richeng:before {
  content: "\e926";
}

.icon-jinru:before {
  content: "\e75f";
}

.icon-customerArrivalHospitalDetails:before {
  content: "\e75e";
}

.icon-erweima:before {
  content: "\e75b";
}

.icon-zhuxiaodenglu:before {
  content: "\e75d";
}

.icon-zengsongjine:before {
  content: "\e758";
}

.icon-chongzhijine:before {
  content: "\e759";
}

.icon-jine:before {
  content: "\e75a";
}

.icon-xinjiandangan:before {
  content: "\e757";
}

.icon-callRecord:before {
  content: "\e756";
}

.icon-shujujishi:before {
  content: "\e755";
}

.icon-agileReports:before {
  content: "\e754";
}

.icon-yingyongjishi:before {
  content: "\e74f";
}

.icon-shujuchuangzuo:before {
  content: "\e750";
}

.icon-shujuzhunbei:before {
  content: "\e751";
}

.icon-shujulianjie:before {
  content: "\e752";
}

.icon-shujukexue:before {
  content: "\e753";
}

.icon-zuoji1:before {
  content: "\e74e";
}

.icon-yulan:before {
  content: "\e74d";
}

.icon-yuyin:before {
  content: "\e74c";
}

.icon-meirichengchangzhizengsong:before {
  content: "\e74a";
}

.icon-meirijifenzengsong:before {
  content: "\e74b";
}

.icon-quxiaoguding:before {
  content: "\e748";
}

.icon-guding:before {
  content: "\e749";
}

.icon-vip:before {
  content: "\e747";
}

.icon-qunliao:before {
  content: "\e746";
}

.icon-huifu:before {
  content: "\e745";
}

.icon-bohui:before {
  content: "\e743";
}

.icon-tongguo:before {
  content: "\e794";
}

.icon-chuli1:before {
  content: "\e742";
}

.icon-chatRecord:before {
  content: "\e740";
}

.icon-sensitiveWordManagement:before {
  content: "\e741";
}

.icon-zhenduan:before {
  content: "\e73f";
}

.icon-zhiding1:before {
  content: "\e73e";
}

.icon-tishi:before {
  content: "\e7a6";
}

.icon-biaozhu:before {
  content: "\e73d";
}

.icon-buchuli:before {
  content: "\e73b";
}

.icon-romoteService:before {
  content: "\e739";
}

.icon-kaishimianzhen:before {
  content: "\e738";
}

.icon-fenpeiyisheng:before {
  content: "\e737";
}

.icon-xianxia:before {
  content: "\e735";
}

.icon-xianshang:before {
  content: "\e736";
}

.icon-call:before {
  content: "\e72c";
}

.icon-mute:before {
  content: "\e72d";
}

.icon-volume:before {
  content: "\e72e";
}

.icon-microphoneoff:before {
  content: "\e72f";
}

.icon-sound:before {
  content: "\e730";
}

.icon-guaduan:before {
  content: "\e734";
}

.icon-scrmMarketingManage:before {
  content: "\e72b";
}

.icon-channelRecommend:before {
  content: "\e72a";
}

.icon-systemLog:before {
  content: "\e780";
}

.icon-channelSettlement:before {
  content: "\e729";
}

.icon-scrmTicketManage:before {
  content: "\e728";
}

.icon-purchaseSettlement:before {
  content: "\e732";
}

.icon-procurementRecord:before {
  content: "\e733";
}

.icon-duplicateOrder:before {
  content: "\e727";
}

.icon-treatment1:before {
  content: "\e723";
}

.icon-yuyue:before {
  content: "\e725";
}

.icon-daijiedai:before {
  content: "\e726";
}

.icon-pc:before {
  content: "\e79b";
}

.icon-weixin:before {
  content: "\e724";
}

.icon-billingDiscount:before {
  content: "\e722";
}

.icon-yanzhengma:before {
  content: "\e721";
}

.icon-duanlazhankai:before {
  content: "\e71c";
}

.icon-duanlashouqi:before {
  content: "\e720";
}

.icon-dianzan-kongxin1:before {
  content: "\e71d";
}

.icon-dianzan1:before {
  content: "\e71e";
}

.icon-zhiding:before {
  content: "\e878";
}

.icon-quxiaozhiding:before {
  content: "\e71f";
}

.icon-scrmMallManage:before {
  content: "\e71b";
}

.icon-scrmVIPRightGroup:before {
  content: "\ec63";
}

.icon-yunyingguanli:before {
  content: "\e715";
}

.icon-scrmVIPRight:before {
  content: "\e717";
}

.icon-scrmOnlieAppointment:before {
  content: "\e718";
}

.icon-goodsMgt:before {
  content: "\e719";
}

.icon-scrmCustomerService:before {
  content: "\e71a";
}

.icon-zhongyaoxiaoxi:before {
  content: "\e714";
}

.icon-tubiaozhizuomoban:before {
  content: "\e711";
}

.icon-homt-people:before {
  content: "\e712";
}

.icon-qianbi:before {
  content: "\e713";
}

.icon-dianzan:before {
  content: "\e710";
}

.icon-dianzan-kongxin:before {
  content: "\e70f";
}

.icon-suoding:before {
  content: "\e70e";
}

.icon-weixin1:before {
  content: "\e70b";
}

.icon-dianhua:before {
  content: "\e70c";
}

.icon-jiangbei:before {
  content: "\e708";
}

.icon-zhuanjia1:before {
  content: "\e709";
}

.icon-shanchanglingyu:before {
  content: "\e70a";
}

.icon-zengsong1:before {
  content: "\e889";
}

.icon-jiashicang:before {
  content: "\e705";
}

.icon-caidan:before {
  content: "\e704";
}

.icon-returnGoodsManage:before {
  content: "\e644";
}

.icon-jiantoux:before {
  content: "\e703";
}

.icon-jiantoux-copy:before {
  content: "\e9d9";
}

.icon-yiqianzi:before {
  content: "\e702";
}

.icon-shuaxin:before {
  content: "\e701";
}

.icon-jinyong:before {
  content: "\e6df";
}

.icon-daoqi:before {
  content: "\e6e7";
}

.icon-zhuanzeng2:before {
  content: "\e6fe";
}

.icon-zhuanxiang1:before {
  content: "\e6ff";
}

.icon-shangyibu:before {
  content: "\e6fd";
}

.icon-xiayibu:before {
  content: "\e6e2";
}

.icon-paizhao-copy:before {
  content: "\e6fc";
}

.icon-qiye:before {
  content: "\e6fb";
}

.icon-kehu1:before {
  content: "\eae0";
}

.icon-shezhi_huaban:before {
  content: "\e6fa";
}

.icon-tongzhi1:before {
  content: "\e77f";
}

.icon-neuron_white:before {
  content: "\e6f8";
}

.icon-neuron:before {
  content: "\e6f9";
}

.icon-fujian1:before {
  content: "\e6f6";
}

.icon-leijichongzhi:before {
  content: "\e6f7";
}

.icon-yue:before {
  content: "\e6f4";
}

.icon-chongzhi1:before {
  content: "\e6f3";
}

.icon-customerTypeChangeList:before {
  content: "\e6f2";
}

.icon-billingInvoiceUsageInfoList:before {
  content: "\e6f1";
}

.icon-fapiao2:before {
  content: "\e812";
}

.icon-chuku2:before {
  content: "\e6f0";
}

.icon-chakanhuakou:before {
  content: "\e6ed";
}

.icon-chakanhexiao:before {
  content: "\e6ee";
}

.icon-hexiao1:before {
  content: "\e6ef";
}

.icon-zengsong:before {
  content: "\e829";
}

.icon-zhekou:before {
  content: "\e6e8";
}

.icon-zhiliao:before {
  content: "\e6ea";
}

.icon-shoushu:before {
  content: "\e6eb";
}

.icon-mazui:before {
  content: "\e6ec";
}

.icon-customerTranferRecords:before {
  content: "\e6e9";
}

.icon-huabi1:before {
  content: "\e6db";
}

.icon-tuichu:before {
  content: "\e6dd";
}

.icon-zhixian:before {
  content: "\e6e1";
}

.icon-xuanze:before {
  content: "\e81b";
}

.icon-icon-line-graph:before {
  content: "\e6de";
}

.icon-yanse:before {
  content: "\e6e3";
}

.icon-wenzi:before {
  content: "\e77a";
}

.icon-yuandian:before {
  content: "\e6e5";
}

.icon-map-circle:before {
  content: "\e6e6";
}

.icon-yiliaojiankang:before {
  content: "\e6dc";
}

.icon-tixing:before {
  content: "\e6da";
}

.icon-activityGroupManage:before {
  content: "\ec71";
}

.icon-activityGroupManage:before {
  content: '\ec71';
}

.icon-huodong:before {
  content: "\e6d9";
}

.icon-activityManage:before {
  content: "\ec72";
}

.icon-activityManage:before {
  content: '\ec72';
}

.icon-mofang:before {
  content: "\e6d7";
}

.icon-dataBox:before {
  content: "\e6d8";
}

.icon-zhanghaodenglu:before {
  content: "\e70d";
}

.icon-mima:before {
  content: "\e6d5";
}

.icon-qiehuan:before {
  content: "\e6d4";
}

.icon-purchaseTemplate:before {
  content: "\e6d3";
}

.icon-shuliang:before {
  content: "\e6d2";
}

.icon-yeji1:before {
  content: "\e7ec";
}

.icon-link:before {
  content: "\e6d0";
}

.icon-liantai:before {
  content: "\e6d1";
}

.icon-tongzhi:before {
  content: "\e6cd";
}

.icon-huifangjihua:before {
  content: "\e6cf";
}

.icon-weiwancheng:before {
  content: "\e6c8";
}

.icon-mubiaodacheng:before {
  content: "\e6c9";
}

.icon-weifenpei:before {
  content: "\e6cb";
}

.icon-yifenpei:before {
  content: "\e6cc";
}

.icon-qingling:before {
  content: "\e6c6";
}

.icon-jihua1:before {
  content: "\e6c7";
}

.icon-profile:before {
  content: "\e6c0";
}

.icon-ren1:before {
  content: "\e6c1";
}

.icon-kehulaiyuan:before {
  content: "\e6c3";
}

.icon-kehuleixing:before {
  content: "\e6c4";
}

.icon-kehuchi:before {
  content: "\e6c5";
}

.icon-xinkehu:before {
  content: "\e6bf";
}

.icon-laokehu:before {
  content: "\e66a";
}

.icon-chargeRecord:before {
  content: "\e6be";
}

.icon-yiguoqi:before {
  content: "\e6bd";
}

.icon-presentOrderApproval:before {
  content: "\e6bb";
}

.icon-presentOrderConifg:before {
  content: "\e6bc";
}

.icon-payRules:before {
  content: "\e6ba";
}

.icon-ruku1:before {
  content: "\e6b9";
}

.icon-lishijilu:before {
  content: "\e6b7";
}

.icon-gengduo2:before {
  content: "\e6e4";
}

.icon-icon-systemSwitchSetting:before {
  content: "\e85c";
}

.icon-shouyinmianban:before {
  content: "\e6b8";
}

.icon-minus-square:before {
  content: "\e796";
}

.icon-plus-square:before {
  content: "\e797";
}

.icon-fuchajilu:before {
  content: "\e6b5";
}

.icon-kuaisu:before {
  content: "\e600";
}

.icon-returnTemplate:before {
  content: "\e6b6";
}

.icon-fafangyouhuiquan:before {
  content: "\e6b4";
}

.icon-zhuanzeng:before {
  content: "\e6b2";
}

.icon-shougongluru:before {
  content: "\e6b1";
}

.icon-qiapian2:before {
  content: "\e706";
}

.icon-liebiao:before {
  content: "\e6ca";
}

.icon-lixian:before {
  content: "\e6ad";
}

.icon-asseek-im-hide:before {
  content: "\e6af";
}

.icon-zaixian:before {
  content: "\e6b0";
}

.icon-checkRecord:before {
  content: "\e6ac";
}

.icon-leixing2:before {
  content: "\e6ae";
}

.icon-xiezai-lan:before {
  content: "\e6ab";
}

.icon-shezhi1:before {
  content: "\e6a9";
}

.icon-jiqirendaan:before {
  content: "\e6aa";
}

.icon-kefupeizhi:before {
  content: "\e6a8";
}

.icon-fenxiang:before {
  content: "\e6a6";
}

.icon-kehuzhaopian:before {
  content: "\e6a5";
}

.icon-xiangyouyidong:before {
  content: "\e6a3";
}

.icon-gou:before {
  content: "\e6a0";
}

.icon-weibiaoti1fuzhi05:before {
  content: "\e6a2";
}

.icon-kehu:before {
  content: "\e69c";
}

.icon-kehuxuanzhong:before {
  content: "\e69f";
}

.icon-xuanzhongxiaoxi:before {
  content: "\e69b";
}

.icon-xiaoxi:before {
  content: "\e69a";
}

.icon-kuaijiehuifu:before {
  content: "\e6c2";
}

.icon-biaoqing:before {
  content: "\e699";
}

.icon-appointmentPlan:before {
  content: "\e697";
}

.icon-jihua2:before {
  content: "\e6a4";
}

.icon-shanji-xian:before {
  content: "\e731";
}

.icon-zuofei1:before {
  content: "\e695";
}

.icon-kaidan:before {
  content: "\e8d6";
}

.icon-weizhi:before {
  content: "\e694";
}

.icon-huabi:before {
  content: "\e68d";
}

.icon-kuang:before {
  content: "\e6f5";
}

.icon-quan:before {
  content: "\e692";
}

.icon-quanping1:before {
  content: "\ea3a";
}

.icon-wenzi2:before {
  content: "\e6ce";
}

.icon-quitquanping:before {
  content: "\e693";
}

.icon-init:before {
  content: "\e707";
}

.icon-huakou1:before {
  content: "\e68c";
}

.icon-permissionManage:before {
  content: "\e68b";
}

.icon-authorityGroup:before {
  content: "\ec68";
}

.icon-authorityArea:before {
  content: "\ec6f";
}

.icon-wenjian:before {
  content: "\e68a";
}

.icon-fangqi:before {
  content: "\e716";
}

.icon-huiyuandengji:before {
  content: "\e67c";
}

.icon-eye-close:before {
  content: "\e689";
}

.icon-announcement:before {
  content: "\e688";
}

.icon-jiaofei:before {
  content: "\e685";
}

.icon-likai:before {
  content: "\e686";
}

.icon-dangan1:before {
  content: "\e684";
}

.icon-dangan:before {
  content: "\e683";
}

.icon-flowList:before {
  content: "\e682";
}

.icon-templateManage:before {
  content: "\e681";
}

.icon-supplierManage:before {
  content: "\e67f";
}

.icon-approval:before {
  content: "\e67e";
}

.icon-tagConfig:before {
  content: "\e67d";
}

.icon-networkcheck:before {
  content: "\ec59";
}

.icon-wifi:before {
  content: "\e75c";
}

.icon-fixedAsset:before {
  content: "\e67b";
}

.icon-zhongzhimima:before {
  content: "\e67a";
}

.icon-leixing:before {
  content: "\e696";
}

.icon-invitManagement:before {
  content: "\e673";
}

.icon-zhuanjia:before {
  content: "\e678";
}

.icon-shijian:before {
  content: "\e679";
}

.icon-jishi_icon:before {
  content: "\e676";
}

.icon-yuangongtouxiang:before {
  content: "\e674";
}

.icon-empty:before {
  content: "\e672";
}

.icon-fabu:before {
  content: "\e671";
}

.icon-jia:before {
  content: "\e66f";
}

.icon-portal:before {
  content: "\ead3";
}

.icon-auditor:before {
  content: "\e66e";
}

.icon-dashboards:before {
  content: "\e66d";
}

.icon-previous-copy:before {
  content: "\ea02";
}

.icon-previous:before {
  content: "\e66c";
}

.icon-juzhong:before {
  content: "\e66b";
}

.icon-yibiyi:before {
  content: "\e6b3";
}

.icon-hexiao:before {
  content: "\e667";
}

.icon-huakou:before {
  content: "\e666";
}

.icon-caidan2:before {
  content: "\e665";
}

.icon-jiantou:before {
  content: "\e662";
}

.icon-yiwancheng:before {
  content: "\e664";
}

.icon-chakan1:before {
  content: "\e660";
}

.icon-shangchuanxiangshangjiantou-copy:before {
  content: "\ea01";
}

.icon-shangchuanxiangshangjiantou:before {
  content: "\e655";
}

.icon-zhiliaojilu1:before {
  content: "\e653";
}

.icon-lianjie:before {
  content: "\e65c";
}

.icon-quanbuyidu:before {
  content: "\e65d";
}

.icon-ren:before {
  content: "\e65e";
}

.icon-jiedaijilu:before {
  content: "\e65f";
}

.icon-youxuanzhuan:before {
  content: "\e659";
}

.icon-zuoxuanzhuan:before {
  content: "\e656";
}

.icon-quanping:before {
  content: "\e657";
}

.icon-huiyuanx:before {
  content: "\e654";
}

.icon-shangchuan:before {
  content: "\e652";
}

.icon-icon-zixunjilu:before {
  content: "\e73c";
}

.icon-pinggu:before {
  content: "\e64a";
}

.icon-zhaopianguanli:before {
  content: "\e64b";
}

.icon-yuyuejilu:before {
  content: "\e64f";
}

.icon-biangengjilu:before {
  content: "\e658";
}

.icon-zux:before {
  content: "\e650";
}

.icon-bingliguanli:before {
  content: "\e69e";
}

.icon-dayin:before {
  content: "\e649";
}

.icon-iconfontshouji:before {
  content: "\e648";
}

.icon-daishenpi:before {
  content: "\e643";
}

.icon-shouqi:before {
  content: "\e642";
}

.icon-pandian:before {
  content: "\e640";
}

.icon-mendian:before {
  content: "\e63f";
}

.icon-xiugai:before {
  content: "\e63e";
}

.icon-tuikuan:before {
  content: "\e63d";
}

.icon-logo:before {
  content: "\e63c";
}

.icon-compare:before {
  content: "\e63a";
}

.icon-outBound:before {
  content: "\e64d";
}

.icon-storageManage:before {
  content: "\e634";
}

.icon-procurement:before {
  content: "\e680";
}

.icon-stockTaking:before {
  content: "\e668";
}

.icon-procurementApply:before {
  content: "\e638";
}

.icon-material:before {
  content: "\e620";
}

.icon-transfer:before {
  content: "\e63b";
}

.icon-materialGroup:before {
  content: "\ec62";
}

.icon-fuzhi:before {
  content: "\e687";
}

.icon-shangla:before {
  content: "\e632";
}

.icon-xiansuo1:before {
  content: "\e630";
}

.icon-zhaopian1:before {
  content: "\e631";
}

.icon-results:before {
  content: "\e64e";
}

.icon-jihua:before {
  content: "\e77e";
}

.icon-groupChannelWeb:before {
  content: "\ec6d";
}

.icon-groupChannel:before {
  content: "\ec6e";
}

.icon-onlineChannel:before {
  content: "\e62b";
}

.icon-offLineChannel:before {
  content: "\e62f";
}

.icon-treatment:before {
  content: "\e62e";
}

.icon-customerPoolDefine:before {
  content: "\e62d";
}

.icon-warehouseGroup:before {
  content: "\ec60";
}

.icon-inventoryGroup-copy:before {
  content: "\ec61";
}

.icon-returnVisitRules:before {
  content: "\e690";
}

.icon-projectBase:before {
  content: "\e639";
}

.icon-inventory:before {
  content: "\e633";
}

.icon-storeEmployeesGroup:before {
  content: "\ec65";
}

.icon-projectPackage:before {
  content: "\e647";
}

.icon-position:before {
  content: "\e641";
}

.icon-staff:before {
  content: "\e636";
}

.icon-department:before {
  content: "\e744";
}

.icon-dataConfig:before {
  content: "\e651";
}

.icon-tablePost:before {
  content: "\e80d";
}

.icon-customerPoolConfig:before {
  content: "\e691";
}

.icon-baseConfigGroup:before {
  content: "\e628";
}

.icon-projectPackageGroup:before {
  content: "\ec70";
}

.icon-departmentGroup:before {
  content: "\ec5c";
}

.icon-deptGroup:before {
  content: "\ec69";
}

.icon-tablePostGroup:before {
  content: "\ec5d";
}

.icon-userGroup:before {
  content: "\ec66";
}

.icon-projectBaseGroup:before {
  content: "\ec5e";
}

.icon-dataConfigGroup:before {
  content: "\ec5f";
}

.icon-basicConfig:before {
  content: "\ec64";
}

.icon-positionGroup:before {
  content: "\ec67";
}

.icon-appointment:before {
  content: "\e7e0";
}

.icon-medicalRecordTemplate:before {
  content: "\e65a";
}

.icon-consultation:before {
  content: "\e621";
}

.icon-photos:before {
  content: "\e622";
}

.icon-customerApprovalList:before {
  content: "\e73a";
}

.icon-customerList:before {
  content: "\e623";
}

.icon-medicalRecord:before {
  content: "\e8fd";
}

.icon-openBilling:before {
  content: "\e61e";
}

.icon-receptionList:before {
  content: "\e619";
}

.icon-returnVisit:before {
  content: "\e76e";
}

.icon-payment:before {
  content: "\e61c";
}

.icon-verify:before {
  content: "\e617";
}

.icon-zuofei:before {
  content: "\e7be";
}

.icon-hebing:before {
  content: "\e637";
}

.icon-excel:before {
  content: "\e700";
}

.icon-quanxianguanli:before {
  content: "\e670";
}

.icon-morentouxiang_nv1:before {
  content: "\e61a";
}

.icon-morentouxiang_nan1:before {
  content: "\e61b";
}

.icon-cangkupeizhi:before {
  content: "\e614";
}

.icon-jinji:before {
  content: "\e612";
}

.icon-daoru2:before {
  content: "\e9e3";
}

.icon-wenhao-:before {
  content: "\e624";
}

.icon-cangku:before {
  content: "\e9fd";
}

.icon-daoru:before {
  content: "\e635";
}

.icon-shenling:before {
  content: "\e60f";
}

.icon-daizhuanjiao:before {
  content: "\e611";
}

.icon-piliang:before {
  content: "\e646";
}

.icon-renyuanzhuanyi:before {
  content: "\e645";
}

.icon-gerenxinxi:before {
  content: "\e62c";
}

.icon-collapse-copy:before {
  content: "\ec5a";
}

.icon-collapse-copy-copy:before {
  content: "\ec5b";
}

.icon-collapse:before {
  content: "\e615";
}

.icon-collapse-copy1:before {
  content: "\ea00";
}

.icon-16pxshijian:before {
  content: "\e675";
}

.icon-baocun:before {
  content: "\e60e";
}

.icon-quxiao:before {
  content: "\e677";
}

.icon-nan1:before {
  content: "\e698";
}

.icon-nv1:before {
  content: "\e9d8";
}

.icon-suo:before {
  content: "\e6a1";
}

.icon-kaisuo:before {
  content: "\e60d";
}

.icon-huifang1:before {
  content: "\e77d";
}

.icon-suoxiao:before {
  content: "\e6e0";
}

.icon-fangda:before {
  content: "\e64c";
}

.icon-xiangqing:before {
  content: "\e68f";
}

.icon-xuanzhong:before {
  content: "\e6d6";
}

.icon-zuixiaohua-copy:before {
  content: "\e60a";
}

.icon-chuangkou:before {
  content: "\e627";
}

.icon-chuangkouhua:before {
  content: "\e60b";
}

.icon-xuanshang:before {
  content: "\e61f";
}

.icon-shezhi:before {
  content: "\e603";
}

.icon-Tips:before {
  content: "\e62a";
}

.icon-xiazai1:before {
  content: "\e602";
}

.icon-jian:before {
  content: "\e61d";
}

.icon-circle:before {
  content: "\e60c";
}

.icon-rili:before {
  content: "\e610";
}

.icon-plus:before {
  content: "\e661";
}

.icon-icon-yxj-error1:before {
  content: "\e613";
}

.icon-chenggong:before {
  content: "\e6a7";
}

.icon-warn:before {
  content: "\e625";
}

.icon-mjiantou-copy:before {
  content: "\e606";
}

.icon-mjiantou-copy1:before {
  content: "\e607";
}

.icon-icon02:before {
  content: "\e601";
}

.icon-star:before {
  content: "\e609";
}

.icon-gou1:before {
  content: "\e629";
}

.icon-gengduo1:before {
  content: "\e626";
}

.icon-sousuo:before {
  content: "\e616";
}

.icon-flow:before {
  content: "\e669";
}

.icon-daochu:before {
  content: "\e69d";
}

.icon-gengduo:before {
  content: "\e605";
}

.icon-xiala:before {
  content: "\e608";
}

.icon-report:before {
  content: "\e9ff";
}

.icon-guanbi:before {
  content: "\e849";
}

.icon-tianjia:before {
  content: "\e65b";
}

.icon-xiala1:before {
  content: "\e604";
}

.icon-shanchu1:before {
  content: "\e68e";
}

.icon-assessment:before {
  content: "\e83c";
}

.icon-home:before {
  content: "\e618";
}

.icon-bianji:before {
  content: "\e663";
}

