.home_wrap {
   .header_wrap {
      height: 1166px;
      position: relative;
      background: linear-gradient(134.66deg, #FFF0D5 -5.13%, #CFE0E6 93.57%);
      background-size: 100% 830px;
      background-position: left top;
      background-repeat: no-repeat;
      overflow: hidden;
   }


   .header {
      background: transparent;
   }

   .sloga_wrap {
      text-align: center;
      width: 720px;
      margin: auto;
      color: #04091E;
      margin-top: 86px;

      .sloga {
         font-size: 72px;
         margin-bottom: 22px;
         line-height: 130%;
         font-weight: 600;
      }

      .sub_title {
         font-size: 20px;
      }

   }

   .bg_text {
      position: absolute;
      width: 862px;
      // height: 357px;
      object-fit: cover;
      left: 50%;
      bottom: 216px;
      transform: translate(-50%, 0);
   }

   .float_block_wrap {
      position: absolute;
      width: 100%;
      padding: 0 90px;
      top: 170px;
      z-index: 2;

      .float_block_left,
      .float_block_right {
         align-items: flex-start;
      }

      .block_item {
         width: 180px;
         height: 320px;
         background-color: #fff;
         box-shadow: 0px 30px 50px 50px rgba(4, 9, 30, 0.02);
         border-radius: 100px;
         padding: 30px 22px;
      }

      .border_left_0 {
         border-top-left-radius: 0;
      }

      .border_right_0 {
         border-top-right-radius: 0;
      }

      .title {
         position: relative;
         font-size: 28px;
         width: 120px;
         height: 120px;
         background: rgba(196, 196, 196, 0.28);
         border-radius: 60px;
         margin: 0 auto;

         .title_text {
            position: absolute;
            width: 180px;
            text-align: center;
         }
      }

      .descript {
         font-size: 16px;
         margin-top: 12px;
         text-align: center;
         color: #747681;
         word-break: normal;
      }

      .tips {
         background: linear-gradient(95.49deg, #D6FFEE -36.87%, #C4C4C4 98.63%);
         -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;
         background-clip: text;
         text-fill-color: transparent;
         text-align: center;
      }

      .enter_btn {
         display: block;
         text-align: center;
         background: linear-gradient(95.49deg, #02FCCF -36.87%, #1448FF 98.63%);
         -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;
         background-clip: text;
         text-fill-color: transparent;
         font-weight: bold;
         margin: 25px auto 0;
      }
   }
}

@media only screen and (max-width: 1260px) {
   .home_wrap {
      .float_block_wrap {
         padding: 0 20px;
      }
   }
}

@media only screen and (max-width: 1024px) {
   .home_wrap {
      .float_block_wrap {
         display: none;
      }
   }
}