.header {
    padding: 32px 36px;
    background: linear-gradient(134.66deg, #FFF0D5 -5.13%, #CFE0E6 93.57%);

    .nav_wrap {
        width: 100%;
    }

    .login {
        flex: 0 0 20%;

        .login_img {
            margin: 0;
        }
    }


    .menu_left {
        font-size: 18px;
        flex: 1 1 auto;
    }

    .menu_item {
        color: #04091E;
        margin-right: 2vw;

        &:hover {
            color: var(--primary-color);
        }
    }

    .menu_icon {
        font-size: 14px;
    }

    .profile {
        flex-shrink: 0;
        width: 36px;
        height: 36px;
        border-radius: 18px;
    }

    .menu_right {
        flex: 0 0 auto;

        .user_name {
            color: #000;
            margin-left: 10px;
            font-size: 16px;
        }

        .iconfont {
            font-size: 22px;

            &:hover {
                color: var(--primary-color);
            }
        }

        .sign_btn {
            font-size: 14px;
        }

    }

    .nav_more {
        display: none;
    }

    .tips_modal {

        .ant-modal-body {
            padding: 5px 12px;
        }

        .tips_title {
            line-height: 36px;
            font-size: 16px;
            color: #898A8C;
            font-weight: 600;
        }

        .plug_btn {
            line-height: 36px;
        }

        .plug_icon {
            margin: 0;
        }
    }

    .plug_menu {
        .ant-popover-title {
            padding: 4px 12px 10px;
        }

        .plug_menu_title {
            font-weight: 600;
            font-size: 14px;
            line-height: 36px;
            color: #898A8C;
        }

        .plug_menu_item {
            font-size: 14px;
            color: #252626;
            line-height: 22px;

            &:hover {
                color: var(--primary-color);
            }
        }

        .plug_address {
            width: 120px;
        }
    }
}

.header_dropmenu_wrap {
    .dropmenu_item {
        .title {
            font-size: 14px;
            color: #000;
        }

        .des {
            font-size: 10px;
            color: #747681;
        }
    }
}

@media only screen and (max-width: 768px) {
    .header {
        padding: 20px;

        .menu_left {
            font-size: 14px;
        }

        .nav_more {
            display: block;
        }

        .menu_left {
            display: none;
        }

        .menu_right {
            display: none;
        }
    }
}