.footer {
    width: 100%;
    height: 616px;
    padding: 0 12.5%;
    background: linear-gradient(134.66deg, #FFF0D5 -5.13%, #CFE0E6 93.57%);

    .logo_wrap {
        flex: 0 0 30%;
    }

    .footer_menu_wrap {
        flex: auto;
    }

    .footer_menu_list {
        flex: auto;
    }

    .footer_menu_title {
        font-size: 24px;
        font-weight: 700;
        line-height: 150%;
        margin-bottom: 40px;
    }

    .footer_menu_item {
        font-size: 20px;
        color: #747681;
        line-height: 160%;
        margin-bottom: 28px;

        &:hover {
            color: $primary-color;
        }
    }
}

@media only screen and (max-width: 768px) {
    .footer {
        padding: 20px;

        .footer_menu_title {
            font-size: 18px;
        }

        .footer_menu_item {
            font-size: 14px;
        }
    }
}